extends ../layouts/default

block variables
    - var page_title = "Log in"
    - var main_class = "login"

block content
    form(action="/auth/login", method="POST")
        h1 Log In
        include ../includes/messages
        p
            label(for="email") Email
            input#email(type="email", name="email", required, placeholder="Enter your email...")
        p
            label(for="password") Password
            input#password(type="password", name="password", required, placeholder="Enter your Password...")
        button(type="submit").btn Login