extends ../layouts/admin

append head
    script(src="https://cdn.quilljs.com/1.3.6/quill.min.js")
    link(href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet")

block content
    h1 Add Your content here
    form#addForm(action="/api", method="post")
        p
            label(for="title") Title
            input#title(type="text", name="title", required)
        p
            label(for="author") Author
            input#author(type="text", name="author", required)
        p
            label(for="pub_date") Date Published
            input#pub_date(type="date", name="pub_date", required)
        p
            label(for="quillEditor") Content
            input(type="hidden", name="content")
            include ../includes/editor.pug
        button(type="submit") Create Post