extends ../layouts/admin

append variables
    - var main_class = "admin--home"

block content
    h1 Welcome #{name}
    include ../includes/messages
    section.common
        h2 Common Actions
        div
            a(href="/admin/posts").btn Manage Posts