extends ../layouts/admin

append variables
    - var main_class = "posts--admin";

block content
    h1 Posts
    div.grid
        each post in posts
            a(href="/admin/posts/edit/" + post._id).card= post.title
        a(href="/admin/posts/add").btn Add Post