extends default


block variables
    - var page_title = "Admin"

block nav
    a(href="/admin").page-header__nav-link Dashboard
    a(href="/admin/posts").page-header__nav-link Posts
    a(href="/admin/users").page-header__nav-link Users
    a(href="/admin/logout").page-header__nav-link Logout

block content
    block content