- var site_title = "Musical Barnacle";
- var site_desc = "A custom cms"

block variables

html
    head
        include ../includes/head
    body
        header.page-header
            a(href="/").page-header__logo= site_title
            nav
                a(href="/admin").page-header__nav-link Admin Home
                a(href="/admin/posts").page-header__nav-link Posts
                a(href="/admin/posts/add").page-header__nav-link Add Post
        main
            block content
        footer.page-footer &copy; 2019 by Binyamin Green